<footer class="footerFixed">
    {{> nav }}
</footer>

{{#userid}}
<a href='{url}'>{{first}}{{last}}</a>
{{/userid}}


 <!-- {{#if userloggedin}}
   <a class="menu">Hi {{first}} </a>
   <a class="menu" href="/">Home </a>
   <a class="menu" href="/signers">All {{count}} Signees</a>
   {{#if signed}}
   <a class="menu" href="/signed">&nbsp;Your Signature</a>&nbsp; |
   {{else}}
   <a class="menu" href="/petition">&nbsp;Please Sign</a>&nbsp; |
   {{/if}}
   <a class="menu" href="/editprofile">&nbsp;Edit Profile</a>&nbsp; |
   <a class="menu" href="/logout">Logout </a>&nbsp;|
 {{else}}
 <div class="">
 <a class="menu" href="/login">Login &nbsp; | &nbsp;</a>
 <a class="menu" href="/registration">Register</a>
 </div>
 {{/if}} -->



<!-- <div class="partialNav">
    <div class="navContainer">
        <ul>
            <li><a href="/">Home</a></li>
            {{#thething}}
                <li><a href="/{{nameoflink}}/description"> {{nameoflink}}</a></li>
            {{/thething}}
        </ul>
    </div>
</div>  -->



<!-- for the delete signature

<form method = "POST">
    <input name="_csrf" type="hidden" />
    <button> Delete signature</button>
</form> -->
