<div class="profileContainer">
    <h3 class="adminH3">Would you like to edit your profile, {{first}}?</h3>
    <form class="mb0"autocomplete="false" id="editForm" method="POST" autocomplete="something-new">
        <!-- EDIT FIRST NAME -->
        <input id="firstNameEdit" placeholder="First name" type="text" name="first" autofill="something-new" autocomplete="something-new" value = {{first}}>
        <!-- EDIT LAST NAME -->
        <input id="LastNameEdit" autofill="off" autocomplete="something-new" placeholder="Last name" type="text" name="last" value = {{last}}>
        <!-- EDIT AGE -->
        <input id="ageEdit" autocomplete="something-new" placeholder="Age" type="text" name="age" value = {{age}}>
        <!-- EDIT CITY -->
        <input id="cityEdit" autocomplete="something-new" placeholder="City" type="text" name="city" value = {{city}}>
        <!-- EDIT URL -->
        <input id="urlEdit" autocomplete="something-new" placeholder="Url" type="text" name="url" value = {{url}}>
        <!-- EDIT EMAIL -->
        <input id="emailEdit" autocomplete="something-new" placeholder="Email address" type="email" name="email" value = {{email}}>
        <!-- EDIT PASSWORD -->
        <input id="passwordEdit" autocomplete="something-new" placeholder="Password" type="password" name="password" value = {{password}}>
        <div class="buttonContainer ">
            <input name="_csrf" type="hidden" value="{{csrfToken}}">
            <button type="submit" class="mainButton" name="button">Submit changes</button>
            <a href="/petition" class="mainButton">Cancel</a>
        </div>
    </form>
    <form class="form mt0" action="/deleteUser" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button class="mainButton" type="submit" name="button"> DELETE ACCOUNT </button>
    </form>




    {{#if error}}
        <p class="error_alert">{{error}}</p>
    {{/if}}
</div>
