<div class="petitionContainer colCenter">
    <div class="petitionWrapper">
        <h1 class="petitionHeader">We have a total of <span>{{count}}</span> signees supporting our cause so far</h1>

        <ul>
            {{#signeesList}}
                {{#if url}}
                   <li>
                       <!-- adds link to name in html -->
                       <a href={{url}}>{{first}} {{last}}</a> <p class"signeeAge">{{age}}</p>
                       <a href="petition/petitionSignees/{{city}}"> {{city}}</a>
                   </li>
                {{else}}
                    <li>
                        {{first}} {{last}} {{age}}
                        <a href="petition/petitionSignees/{{city}}"> {{city}}</a>
                    </li>
                {{/if}}
            {{/signeesList}}
        </ul>
        <a class="mainButton" href="/editProfile"><i class="far fa-user"></i>Edit your profile</a>
    </div>
</div>
