    <div class="petitionContainer colCenter">
        <div class="petitionWrapper">
            <h1 class="petitionHeader">{{first}} signed our petition on the {{created}} and is among <span>{{count}}</span> signees supporting our cause so far</h1>
            <h1 class="petitionSubHeader">Here are some others who also helped our cause </h1>
            <ul class="signeeContainer">
                {{#signeesList}}
                    {{#if url}}
                       <li class="signeeWrapper">
                           <!-- adds link to name in html -->
                           <a class="signeesList" href={{url}}>{{first}} {{last}}</a><p class="signeeAge">{{age}}</p>
                           <a class="signeesList" href="petition/petitionSignees/{{city}}">{{city}}</a>
                       </li>
                    {{else}}
                        <li class="signeeWrapper">
                            <p class="signeesList">{{first}} {{last}}</p><p class="signeeAge">{{age}}</p>
                            <a class="signeesList" href="petition/petitionSignees/{{city}}">{{city}}</a>
                        </li>
                    {{/if}}
                {{/signeesList}}
            </ul>

            <div class="buttonContainer">
                <a class="mainButton" href="/editProfile"><i class="far fa-user"></i>Edit your profile</a>
            </div>
        </div>

    </div>
